/*Turn of desktop components*/
#contact-button-desktop {
  display: none;
}
.second-page_abstract-bg {
  display: none;
}
.first-page_abstract-bg {
  display: none;
} /*turn off desktop background*/
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-grey: #707070;
  --main-beige: #f3f6e6;
}
a {
  text-decoration: none;
}
/********General*********/
html {
  background: var(--main-grey);
}
html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#front-layer {
  position: fixed;
  top: 9vh;
  bottom: 0;
  border-radius: 1em 1em 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.2s ease;
  z-index: 1;
  background: snow;
}
/********NAVBAR*********/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100vw;
}
header img {
  object-fit: fill;
  width: 18vh;
  max-width: 120px;
  margin: 5px 20px;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 10vh;
  width: 100vw;
}
nav a {
  font-size: 1.4em;
  padding: 1px 10px 2px;
  margin: 7px;
  border: white solid thin;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2em;
  font-weight: bold;
}
.hamburger-icon {
  height: 30px;
  width: 50px;
  margin: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-line,
.mid-line,
.bott-line {
  width: 80%;
  height: 2px;
  background: white;
  margin: 3.5px 0;
  border-radius: 2em;
  transition: all 0.2s ease-out;
}
.contact-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;
  left: 30px;
}
.contact-container h2 {
  font-size: 8vw;
}
.contact-container a {
  font-size: 7vw;
  padding: 10px;
  text-decoration: underline;
  color: white;
}
/********First Page*********/
.first-page {
  height: auto;
  width: 100vw;
}
.first-page_content {
  height: 100vh;
  position: relative;
  overflow-x: hidden; /*Cuts image off*/
}
.first-page_content article {
  background: white;
  border: lightgray solid thin;
  margin: 0 10px;
  position: absolute;
  top: 40vh;
  z-index: 1;
  animation-name: phase-in-article;
  animation-duration: 1.2s;
  padding-bottom: 20px;
  box-shadow: lightgray 0px 10px 20px;
  border-radius: 0.3em;
}
@keyframes phase-in-article {
  from {
    opacity: 0;
    transform: translateY(80vh);
  }
  to {
    opacity: 1;
  }
}
.first-page_content article h1 {
  font-size: clamp(3em, 6vw, 6em);
  margin: 10px 20px;
  color: var(--main-grey);
}
.first-page_content article p {
  font-size: 1.2em;
  margin: 0 20px;
  line-height: 1.4;
}
.first-page_img-wrapper {
  position: absolute;
  top: 0;
}
.first-page_img-wrapper img {
  object-fit: fill;
  width: 100vw;
  min-width: 450px; /*Crops image perfectly*/
}
/********Second Page*********/
.second-page {
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto;
  position: relative;
  margin-top: 12%;
  background-image: url("./assets/abstracts/sec_page_abstract_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 40px;
}
h1.second-page_heading {
  text-align: center;
  color: var(--main-grey);
  font-size: 3em;
  font-weight: 300;
  margin: 0 40px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 50px;
}
.smoothie,
.tea,
.blender {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.smoothie img,
.tea img,
.blender img {
  object-fit: fill;
  width: 30vw;
  min-width: 100px;
  max-width: 200px;
  margin-bottom: 25px;
}
.second-page h2 {
  font-size: 2em;
  color: var(--main-grey);
  margin-bottom: 10px;
}
.second-page p {
  font-size: calc(1vw + 0.5em);
  margin: 0 80px;
  text-align: left;
  padding-bottom: 40px;
  line-height: 1.5;
}
/********Third Page*********/
.third-page {
  height: auto;
  width: 100vw;
  background: var(--main-beige);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.images-wrapper {
  background-image: url("./assets/abstracts/third_page_ab.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 90vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  height: auto;
}
.images-wrapper button {
  outline: none;
  border: none;
  font-size: 3em;
}
.images-container {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}
.mySlides {
  display: none;
  object-fit: fill;
  width: 1vw;
  min-width: 150px;
  max-width: 400px;
}
.third-page article {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third-page article h1 {
  font-size: 2.5em;
  margin: 0 30px;
  color: var(--main-grey);
  text-align: center;
}
.menu-giant-button,
.location-giant-button {
  text-align: center;
  border: var(--main-grey) solid thin;
  font-size: 2em;
  border-radius: 2em;
  width: 50%;
  margin-top: 30px;
}
.location-giant-button {
  margin-top: 15px;
}
/********Ipad*********/
@media (min-width: 600px) {
  main {
    position: fixed;
    top: 9vh;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.2s ease;
    z-index: 1;
    background: snow;
  }
  header img {
    object-fit: fill;
    width: 140px;
    max-width: 300px;
    margin: 5px 20px;
  }
  nav a {
    font-size: 2em;
    padding: 2px 15px 2px;
    margin: 7px;
    border: white solid thin;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2em;
    font-weight: bold;
  }
  .hamburger-icon {
    height: 50px;
    width: 70px;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top-line,
  .mid-line,
  .bott-line {
    width: 80%;
    height: 4px;
    background: white;
    margin: 3.5px 0;
    border-radius: 2em;
    transition: all 0.2s ease-out;
  }
  /********First Page*********/
  .first-page {
    height: auto;
  }
  .first-page_content {
    height: 120vh;
    position: relative;
    overflow-x: hidden; /*Cuts image off*/
  }
  .first-page_content article {
    background: white;
    border: lightgray solid thin;
    margin: 0 60px;
    position: absolute;
    top: 50vh;
    z-index: 1;
    animation-name: phase-in-article;
    animation-duration: 1.2s;
    padding-bottom: 20px;
    box-shadow: lightgray 0px 10px 20px;
    border-radius: 0.3em;
  }
  @keyframes phase-in-article {
    from {
      opacity: 0;
      transform: translateY(80vh);
    }
    to {
      opacity: 1;
    }
  }
  .first-page_content article h1 {
    font-size: 4.3em;
    margin: 10px 20px;
    color: var(--main-grey);
  }
  .first-page_content article p {
    font-size: 2em;
    margin: 0 20px;
    line-height: 1.4;
  }
  /********Second Page*********/
  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 100px 80px;
  }
  h1.second-page_heading {
    text-align: center;
    color: var(--main-grey);
    font-size: 6em;
    font-weight: 300;
    margin: 0 40px;
  }
  .smoothie,
  .tea,
  .blender {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
  }
  .smoothie img,
  .tea img,
  .blender img {
    object-fit: fill;
    width: 30vw;
    min-width: 100px;
    max-width: 500px;
    margin-bottom: 30px;
  }
  .second-page h2 {
    font-size: 3em;
    color: var(--main-grey);
    margin-bottom: 20px;
  }
  .second-page p {
    font-size: 1.3em;
    margin: 0 80px;
    text-align: left;
    padding-bottom: 40px;
    line-height: 1.4;
  }
  /********Third Page*********/
  .images-wrapper {
    background-image: url("./assets/abstracts/third_page_ab.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  .third-page article h1 {
    font-size: 4em;
    margin: 0 30px;
    color: var(--main-grey);
    text-align: center;
  }
  .menu-giant-button,
  .location-giant-button {
    text-align: center;
    border: var(--main-grey) solid thin;
    font-size: 2.5em;
    border-radius: 2em;
    width: 50%;
    margin-top: 30px;
  }
}
