* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
}
html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.first-page_abstract-bg {
  display: none;
} /*turn off background*/

/********NAVBAR*********/
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
header img {
  object-fit: fill;
  width: 20vw;
  min-width: 100px;
  max-width: 300px;
  margin: 10px 0;
}
nav a {
  display: none;
  font-size: calc(1vw + 1em);
  margin: 0 20px;
}
/********First Page*********/
.first-page {
  width: 100vw;
  /*Offset fixed navbar*/
  margin-top: 65px;
}
.first-page_content {
  height: 80vh;
  max-width: 2000px;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
}
.first-page_content article {
  background: white;
  border: lightgray solid thin;
  margin: 0 10px;
  position: absolute;
  bottom: 0vh;
  z-index: 1;
  padding-bottom: 20px;
  animation-name: phase-in;
  animation-duration: 1.2s;
}
@keyframes phase-in {
  from {
    opacity: 0;
    transform: translateY(80vh);
  }
  to {
    opacity: 1;
  }
}
.first-page_content article h1 {
  font-size: 2.7em;
  margin: 10px 20px;
}
.first-page_content article p {
  font-size: 1.2em;
  margin: 0 20px;
}
.first-page_img-wrapper {
  position: absolute;
  top: 0;
}
.first-page_img-wrapper img {
  object-fit: fill;
  width: 100vw;
  min-width: 450px;
  max-width: 1000px;
}
