* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.first-page_abstract-bg {
  width: 80vw;
  position: absolute;
  z-index: -1;
}
/********NAVBAR*********/
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background: rgba(300, 300, 300, 0.8);
}
header img {
  object-fit: fill;
  width: 12vw;
  min-width: 150px;
  max-width: 300px;
  margin: 10px 50px;
}
nav a {
  font-size: calc(1vw + 1em);
  margin: 0 20px;
}
/********First Page*********/
.first-page {
  width: 100vw;
  /*Offset fixed navbar*/
  margin-top: 120px;
}
.first-page_content {
  width: 95%;
  height: 80vh;
  max-width: 2000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-page_content article {
  margin: 0 50px;
}
.first-page_content article h1 {
  font-size: calc(3vw + 1.8em);
}
.first-page_content article p {
  font-size: calc(2vw);
}
.first-page_img-wrapper {
  flex: 1;
}
.first-page_img-wrapper img {
  object-fit: fill;
  width: 50vw;
  min-width: 450px;
  max-width: 1000px;
  border: black solid thick;
  animation-name: phase-in;
  animation-duration: 1.2s;
}
@keyframes phase-in {
  from {
    opacity: 0;
    transform: translateY(80vh);
  }
  to {
    opacity: 1;
  }
}
