* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background: beige;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/********NAVBAR*********/
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background: red;
}
header img {
  object-fit: fill;
  width: 12vw;
  min-width: 150px;
  max-width: 300px;
  margin: 10px 50px;
}
nav a {
  font-size: calc(1vw + 1em);
  margin: 0 20px;
}
/********First Page*********/
.first-page {
  background: snow;
  width: 100vw;
  /*Offset fixed navbar*/
  margin-top: 120px;
}
.first-page_content {
  height: 80vh;
  max-width: 2000px;
  border: purple solid thick;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
}
.first-page_content article {
  background: white;
  border: black solid thin;
  margin: 0 10px;
  position: absolute;
  bottom: 12vh;
  z-index: 1;
  padding-bottom: 30px;
}
.first-page_content article h1 {
  font-size: calc(3vw + 1.2em);
  margin: 10px 40px;
}
.first-page_content article p {
  font-size: 1.1em;
  margin: 0 40px;
}
.first-page_img-wrapper {
  border: green solid thin;
  position: absolute;
  top: 0;
}
.first-page_img-wrapper img {
  object-fit: fill;
  width: 100vw;
  min-width: 450px;
  max-width: 1000px;
}
