* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-grey: #707070;
  --main-beige: #f3f6e6;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}
/********General*********/
html {
  background: var(--main-grey);
}
html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  position: fixed;
  top: 9vh;
  bottom: 0;
  border-radius: 1em 1em 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.2s ease;
  z-index: 1;
  background: snow;
  width: 100vw;
  padding-bottom: 50px;
}
/********Navbar*********/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100vw;
}
header img {
  object-fit: fill;
  width: 18vh;
  max-width: 120px;
  margin: 5px 20px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 10vh;
  right: 10px;
  width: 100vw;
}
header nav a {
  font-size: 1.4em;
  padding: 1px 10px 2px;
  margin: 7px;
  border: white solid thin;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2em;
  font-weight: bold;
}
.hamburger-icon {
  height: 30px;
  width: 50px;
  margin: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-line,
.mid-line,
.bott-line {
  width: 80%;
  height: 2px;
  background: white;
  margin: 3.5px 0;
  border-radius: 2em;
  transition: all 0.2s ease-out;
}
.contact-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;
  left: 30px;
}
.contact-container h2 {
  font-size: 8vw;
}
.contact-container a {
  font-size: 7vw;
  padding: 10px;
  text-decoration: underline;
  color: white;
}
/********Menu*********/
.drink-section h1 {
  font-size: 10vw;
  margin: 10px;
}
.drink-section h3 {
  font-size: 1.2em;
  margin: 10px;
}
.nutrition-container {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.nutrition-container a {
  font-size: 1.2em;
  margin-right: 15px;
}
summary {
  margin: 10px;
}
.see-flavors {
  font-size: 1.5em;
  font-weight: bold;
}
.flavors-container summary {
  font-size: 1.3em;
  margin: 10px;
}
ul {
  list-style: none;
}
ul li {
  padding-bottom: 10px;
  font-size: 1.1em;
}
#berry {
  color: purple;
}
#lime {
  color: darkgreen;
}
#tropical {
  color: darkkhaki;
}
#orange {
  color: orange;
}
#traditional {
  color: rgba(78, 32, 32, 0.836);
}
#dulce {
  color: burlywood;
}

@media (min-width: 600px) {
  main {
    position: fixed;
    top: 9vh;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.2s ease;
    z-index: 1;
    background: snow;
  }
  header img {
    object-fit: fill;
    width: 180px;
    max-width: 300px;
    margin: 5px 20px;
  }
  header nav a {
    font-size: 2em;
    padding: 2px 15px 2px;
    margin: 7px;
    border: white solid thin;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2em;
    font-weight: bold;
  }
  .hamburger-icon {
    height: 50px;
    width: 70px;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top-line,
  .mid-line,
  .bott-line {
    width: 80%;
    height: 4px;
    background: white;
    margin: 3.5px 0;
    border-radius: 2em;
    transition: all 0.2s ease-out;
  }
  /********Menu*********/
  .drink-section h1 {
    font-size: 10vw;
    margin: 10px;
  }
  .drink-section h3 {
    font-size: 2em;
    margin: 10px;
  }
  .nutrition-container a {
    font-size: 1.7em;
    margin-right: 15px;
  }
  .see-flavors {
    font-size: 2.5em;
  }
  .flavors-container summary {
    font-size: 2.5em;
    margin: 10px;
  }
  ul {
    list-style: none;
  }
  ul li {
    padding-bottom: 10px;
    font-size: 2em;
  }
}
